.QuizCreater {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
}

.QuizCreater h1 {
    color: #fff;
    margin-left: 10px;
}

.QuizWrapper {
    width: 600px;
}