.QuizList {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex-grow: 1;
    width: 100%;
    background: linear-gradient(90deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%);
}

.QuizList h1 {
    color: #fff;
    margin-left: 10px;
}

.QuizWrapper {
    width: 600px;
}